
/*nav*/

.navbar{
    background: #1c1cd5!important;
    position: fixed!important;
    width: 100%;
    z-index: 1;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header{
    position: relative;
}

#navbarNav{
    position: absolute;
    right: 100px;
}

.navbar-nav .nav-item.active .nav-link {
    color:white;
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}
.navbar-nav .nav-item.active .nav-link:hover {
    color: #00ffff;
    /*transform: scale(1.1);*/
    cursor:pointer ;
}
.navbar-nav .nav-item.active .nav-link:active {
    color: white;
    /*transform: scale(0.7);*/
}

#nav_topic{
    padding-left:100px ;
    color: #ddf5f5;
    font-size: 30px;
    font-style: italic;
}

#nav_topic img{
    background: white;
    margin-right: 10px;
    border-radius: 10px;
}

section{
    background: rgba(145, 235, 255, 0.07);
}

label{
    font-size:16px;
    font-weight: bold;
    color: #00409a;
}

.topic{
    background: #007c7c;
    color: white;
    padding: 5px;
    font-size: 25px;
    text-align: center;
}
.tbl_form{
    padding: 20px;
    box-shadow: rgb(21, 204, 227) 0px 2px 8px;
}
#cus_tbl{
    padding: 20px;
    box-shadow: rgb(21, 204, 227) 0px 2px 8px;
}

.thead-dark>tr>th{
    background: #69e5ff;
}

.thead-dark>tr>th{
    background: #69e5ff;
}
#customer-tbl-body td {
    border-bottom-color: #1c1cd5;
}


/*dash bord*/

.card {
    border: none;
    display: flex;
    align-items: center;
}

.card_body {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #2fd4e8;
    border-radius: 5px;
    color: white;
}

.card_body h1 {
    font-size: 30px;
    text-align: center;
}
.card_body > h2 {
    font-size: 35px;
    color: black;
}

#customer_id {
    color: red;
    font-size: 18px;
    font-weight: 500;
}

#customer_name,
#customer_address,
#customer_mobile{
    color: black;
    font-size: 18px;
    font-weight: 500;
}

