section{
    background: rgba(145, 235, 255, 0.07);
}

label{
    font-size:16px;
    font-weight: bold;
    color: #00409a;
}

.tbl_form{
    padding: 20px;
    box-shadow: rgb(21, 204, 227) 0px 2px 8px;
}

#itm_tbl{
    padding: 20px;
    box-shadow: rgb(21, 204, 227) 0px 2px 8px;
}
.thead-dark>tr>th{
    background: #69e5ff;
}

.thead-dark>tr>th{
    background: #69e5ff;
}
#items-tbl-body td {
    border-bottom-color: #1c1cd5;
}

#items_id {
    color: red;
    font-size: 18px;
    font-weight: 500;
}

#items_name,
#items_qty,
#items_price{
    color: black;
    font-size: 18px;
    font-weight: 500;
}