body {
    padding-top: 80px;
}

@media all and (min-width: 992px) {
    #navbarSupportedContent {
        display: flex!important;
        justify-content: flex-end;
        flex-basis: auto;
    }

    #menu-list {
        margin-right: unset!important;

    }

}

